.footer {
    background-color: $color-dark-gray;
    color: $color-light-gray;
    padding: 1.2rem 3.5rem;
    text-align: center;

    &__info {
        display: inline-block;
        font-size: 1.3rem;
        line-height: 1.6;
        width: 90%;

        @media only screen and (min-width: 414px) {
            width: 80%;
        }

        @media only screen and (min-width: 768px) {
            font-size: 1.6rem;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 2rem;
        }

        & a {
            transition: color .2s;
        }
        
        & a:link,
        & a:visited {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
        }

        @media (hover: hover) and (pointer: fine) {
            & a:hover,
            & a:active {
                color: $color-primary;
            }
        }
    }
}