*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-primary;
    background-image: url(../images/bg-mobile.svg);
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    width: 100%;

    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 2.5rem;
    }

    @media only screen and (min-width: 1366px) {
        font-size: 1.7rem;
    }
}

.container {
    padding: 0 3.5rem;

    @media only screen and (min-width: 1024px) {
        padding: 0 5rem;
    }

    @media only screen and (min-width: 1366px) {
        padding: 0 5.5rem;
    }
}